*.swp
*.rda
!*IPCC-WGI-reference-regions-v4_R.rda
*.RData
*.rds
*.h5
*.Rhistory
*.nc4
!*yMask.nc4
.__pycache__
*.ncml
*.npy
!*maskRegionsSea.npy
*.mp4
*.out
*.err
*.csv
*.pyc
.ipynb_checkpoints
.cluster-log
.dask-work-space
figures/
*.joblib
